
venv/
ENV/
env/
.venv/

.env

__pycache__/
*.py[cod]
*$py.class

db.sqlite3

*.log

*.pot
*.pyc
*.pyo
*.mo

media/

staticfiles/
static/

local_settings.py

.vscode/

htmlcov/
.mypy_cache/
.coverage
cover/
pytest_cache/

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

