@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.containerValores {
    background-color: #051923;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    padding-top: 80px;
    min-height: 80vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    position: relative;
}

.CardValores {
    background-color: #123247;
    max-width: 337px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.TextoCard {
    color: #CEDFE0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 32px 15px;
}

.Texto2 {
    color: #CEDFE0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}

.PessoasValores {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

.containerTitleValores {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.containerTitleValores h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.containerTitleValores p {
    color: white;
    font-size: 23px;
    text-align: center;
}

@media (max-width: 900px) {
    .PessoasValores {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .CardValores {
        max-width: 500px;
    }

    .containerTitleValores h1 {
        font-size: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .containerTitleValores p {
        font-size: 20px;
    }
}