.boxNavBar {
    background-color: #123247;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(31, 30, 30, 0.24);
    z-index: 1000;
}

.navContent {
    width: 100%;
    max-width: 1800px; 
    margin: 0 auto;
    padding: 0 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.boxLogo {
    padding: 1%;
}
.boxLogo img{
    width: 200px;
    min-width: 180px;
    min-height: 45px;
    height: 50px;
}
.boxLinks {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 2;
}
.boxButton {
    padding: 0 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 4px;
}


.mobileOrcamentoButton {
    display: none;
    margin-top: 15px;
}


@media (max-width: 960px) {

    .hamburger {
        display: flex;
    }

    .boxLogo img {
        width: 180px;
        height: 45px;
    }

    .boxButton {
        display: none;
    }

    .boxLinks {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        max-height: 0;
        opacity: 0;
        background: rgba(18, 50, 71, 0.15);

        overflow: hidden;
        flex-direction: column;
        align-items: center;
        
        z-index: 1001;
        transition: 
            max-height 1s ease,
            opacity 0.6s ease,
            background 0.6s ease;
        
        padding: 0;
    }

    .boxLinks.open {
        max-height: 600px;
        background: rgba(18, 50, 71, 1);
        opacity: 1;
        padding: 20px 0;
        z-index: 1001;
    }

    .boxLinks a {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .boxLinks .buttonBox {
        width: 80%;
        text-align: center;
    }

    .mobileOrcamentoButton {
        width:100%;
        display: flex;
        justify-content: center;
    }

    .mobileOrcamentoButton a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mobileOrcamentoButton .buttonBox {
        width: 64%;
        text-align: center;
    }


}
