.containerPremiacao{
    width: 100%;
    background-color: #f5f7fa;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tituloPremiacao{
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}

.customCarousel{
    width: 90%;
    max-width: 950px;
}

.cardCarrossel{
    display: flex;
    justify-content: center;
}

.imgCarrossel{
    width: 100%;
    max-height: 480px;
    border-radius: 20px;
    object-fit: cover;
}

/* ===== SETAS LATERAIS ===== */
.setaCarrossel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #de6a29;
    border: none;
    color: white;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.setaLeft{
    left: 50px;
}

.setaRight{
    right: 50px;
}

.setaCarrossel:hover{
    background-color: #c75c1f;
}

/* ===== INDICADORES ===== */
.containerIndicadores{
    margin-top: 15px;
    display: flex;
    gap: 8px;
}

.indicador{
    width: 10px;
    height: 10px;
    background-color: #264653;
    border-radius: 50%;
    opacity: 0.4;
}

.indicador:first-child{
    background-color: #de6a29;
    opacity: 1;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px){

    .setaLeft{
        left: 20px;
    }

    .setaRight{
        right: 20px;
    }

    .imgCarrossel{
        max-height: 350px;
    }
}

@media (max-width: 480px){
    .setaCarrossel{
        padding: 10px;
        font-size: 14px;
    }

    .setaLeft{
        left: 10px;
    }

    .setaRight{
        right: 10px;
    }

    .imgCarrossel{
        max-height: 260px;
    }
}
