.colorNavbar{
    background-color: #F4F4F4;   
}

.dropdow{
    background-color: #1C388D;
    border-radius: 10px;
}
.drawerColor{
    background-color: #1C388D;
}
.colorTexv3{
    color: #1C388D;
}
.itemDrawer{
    cursor: pointer;
}